/* Header
--------------------------------------------------*/

#header-info {
    padding: 4px 8%;
    border-bottom: 1px solid #cccccc88;
}

.icon-contact {
    color: var(--yellow);
}

#header-info span {
    font-size: 12px;
    padding-inline: 8px;
}

.link {
    color: inherit;
    text-decoration: none;
    transition: all .5s ease;
}

.link:hover {
    color: var(--yellow);
}

#logo h1 {
    font-size: 2.2rem;
    font-weight: var(--font-bold);
}

.logo-dot {
    font-size: 4rem;
    color: var(--yellow);
}

#form-search input {
    padding: 10px 20px;
    height: 38px;
    width: 445px;
    outline: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 2px solid var(--yellow);
}

#form-search input::placeholder {
    color: var(--dark3)
}

#form-search button {
    margin-left: -10px;
    height: 38px;
    width: 50px;
    text-align: center;
    font-weight: normal;
    color: var(--white0);
    border: 2px solid var(--yellow);
    background-color: var(--yellow);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all .5s ease-in-out;
}

#form-search button:hover {
    border: 2px solid var(--dark2);
    background-color: var(--dark2);
}

#icons-main {
    gap: 20px;
}

#icons-main a {
    color: inherit;
    text-decoration: none;
}

#icons-main a i,  #icons-main a svg {
    font-size: 26px;
}

#icon-value {
    font-size: 9px;
    padding: 4px;
    bottom: -8px;
    left: 14px;
    font-weight: var(--font-bold);
    background-color: var(--yellow);
    transition: all .5s ease;
}

#icons-main a:hover {
    color: var(--yellow);
}

#icons-main a:hover svg {
    color: currentColor;
    fill: currentColor;
}

#icon-value {
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: var(--font-bold);
}

#icons-main a:hover #icon-value {
    color: var(--dark2);
    animation: topbot .8s ease alternate infinite;
}

@keyframes topbot {
    to {
        bottom: 4px;
    }
    from {
        bottom: -8px;
    }
}

#btn-categories {
    padding: 8px 15px;
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--yellow);

    display: flex;
    gap: 10px;
    align-items: center;
}

#drop-text {
    font-size: 14px;
    font-weight: 600;
}

#dropdown-menu {
    box-shadow: none;
    border-radius: 0;
    width: 224.16px;
    border: none;
    z-index: 9;
    box-shadow: 0 0 10px #cccccc2a;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}


#dropdown-menu li {
    padding: 4px 0;
    padding-inline: 8px;
    padding-inline: 8px;
    font-size: 14px;
}

/* Banner
--------------------------------------------------*/
#carrocel-banner #carouselExampleCaptions {
    height: 420px; 
    margin-bottom: 300px;
}

#carrocel-banner #carouselExampleCaptions .carousel-inner {
    height: 100%;
} 

#carrocel-banner #carouselExampleCaptions .carousel-item {
    height: 100%;
}

#carrocel-banner #carouselExampleCaptions .carousel-item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
} 

